# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# General Next.js
/.next/
/out/
/build
.DS_Store
.env
.env.*
!.env.example
.idea
*.log
node_modules
.vscode
.firebase
functions/node_modules
**/schema.graphql
.genkit

    